<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CommonMapper">
	
	<select id="getCommonCodeList" parameterType="string" resultType="map">
		SELECT COM_CD AS "diseaseCode",
			   COM_NM AS "diseaseName"
		FROM COMMON_CODE
		WHERE GRP_CD = #{grpCd}
		  AND USE_YN = 'Y'	ORDER BY SORT_SEQ ASC </select>
	
</mapper>